.footer
    padding: 8rem 0
    background: #333
    &__logo
        width: 12rem
    &__list 
        list-style: none
        text-align: center
    &__item
        display: inline-block
        &:not(:last-child)
            margin-right: 5rem
            
    &__link
        text-decoration: none
        text-transform: uppercase
        font-size: 1.6rem
        letter-spacing: .2rem
        font-weight: 300
        color: $color-white
        display: inline-block
        transition: all .3s
        &:hover
            transform: rotate(5deg) scale(1.1)
            color: $color-brown-darck
            text-shadow: $box-shadow 
            