.row 
    max-width: 114rem
    margin: 0 auto
    &:not(:last-child)
        margin-bottom: 8rem 
    @include clearFix
    @include respond (desktop-mini)
        max-width: 89rem
    @include respond(desktop-tablet)
        max-width: 60rem
        &:not(:last-child)
            margin-bottom: 5rem 

[class^="col-"]
    &:not(:last-child)
        margin-right: $indent-horizontal
    float: left
    @include respond (desktop-mini)
        &:not(:last-child)
            margin-right: 2rem

.col-1-of-2
    width: calc( (100% - $indent-horizontal) / 2 )
    @include respond(desktop-tablet)
        float: none
        width: 100%
        &:not(:last-child)
            margin-right: 0
    

.col-1-of-3
    width: calc( (100% - 2 * $indent-horizontal) / 3 )
    @include respond (desktop-mini)
        width: calc( (100% - 2 * 2rem) / 3 )
    @include respond(desktop-tablet)
        float: none
        width: 100%
        &:not(:last-child)
            margin-bottom: 8rem
  

.col-2-of-3
    width: calc( 2 * ((100% - 2 * $indent-horizontal) / 3) + $indent-horizontal )

.col-1-of-4
    width: calc( (100% - 3 * $indent-horizontal) / 4 )
    @include respond (desktop-mini)
        width: calc( (100% - 3 * 2rem) / 4 )
    @include respond(desktop-tablet)
        float: none
        width: 100%
        &:not(:last-child)
            margin-bottom: 2rem


.col-2-of-4
    width: calc( 2 * ((100% - 3 * $indent-horizontal) / 4) + $indent-horizontal )

.col-3-of-4
    width: calc( 3 * ((100% - 3 * $indent-horizontal) / 4) + 2*$indent-horizontal )



    // <section class="grid">
    //     <div class="row">
    //         <div class="col-1-of-2">col-1-of-2"</div>
    //         <div class="col-1-of-2">col-1-of-2"</div>
    //     </div>
    //     <div class="row">
    //         <div class="col-1-of-3">col-1-of-3"</div>
    //         <div class="col-1-of-3">col-1-of-3</div>
    //         <div class="col-1-of-3">col-1-of-3</div>
    //     </div>
    //     <div class="row">
    //         <div class="col-1-of-3">col-1-of-3</div>
    //         <div class="col-2-of-3">col-2-of-3</div>
    //     </div>
    //     <div class="row">
    //         <div class="col-1-of-4">col-1-of-4</div>
    //         <div class="col-1-of-4">col-1-of-4</div>
    //         <div class="col-1-of-4">col-1-of-4</div>
    //         <div class="col-1-of-4">col-1-of-4</div>
    //     </div>
    //     <div class="row">
    //         <div class="col-1-of-4">col-1-of-4</div>
    //         <div class="col-1-of-4">col-1-of-4</div>
    //         <div class="col-2-of-4">col-2-of-4</div>
    //     </div>
    //     <div class="row">
    //         <div class="col-1-of-4">col-1-of-4</div>
    //         <div class="col-3-of-4">col-3-of-4</div>
    //     </div>
    // </section>